body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 15px;
  color: #414141;
  padding: 0.18em;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #414141;
  text-decoration: none;
}

header {
  padding: 3em 5em 0;
}

section {
  padding: 0 5em 0;
}

h3 {
  font-variant: small-caps;
  font-weight: bold;
}

div#container {
  background-color: #F7F7EE;
  padding: 2em 2.5em 0;
  min-height: 10em;
}