nav {
  background-color: #F5F5F5;
  margin: 0.5em 0;
  padding: 0.3em;
}

nav li {
  padding: 0 0.38em;
  display: inline;
}

nav li:hover {
  border: 0.1em solid #000000;
  border-radius: 0.3em;
  padding: 0 0.28em;
}