nav {
  background-color: #EAEAEA;
  margin: 0.5em 0;
  padding: 0.75em 0.5em 0 0.5em;
}

nav li {
  display: inline;
  border: solid #000000;
  border-width: 0.066em 0 0 0;
  border-radius: 0.3em 0.3em 0 0;
  padding: 0.18em 0.38em 0 0.58em;
}

nav li.active {
  background-color: #FDFDFD;
  border-radius: 1em 1em 0em 0em;
  padding: 0.18em 0.48em 0 0.68em;
  margin-right: -0.3em;
  margin-left: -0.3em;
  border-right-width: 0.066em;
  border-left-width: 0.066em;
}

nav li:first-child {
  border-left-width: 0.066em
}

nav li:last-child {
  border-right-width: 0.066em
}