div#products-container span {
  display: block;
}

div#products-container > div {
  min-width: 10.5em;
  min-height: 10.5em;
  display: inline-block;
  border: 0.066em solid black;
  padding: 0.5em;
  margin: 0.33em;
  -webkit-box-shadow: 0.3em 0.3em 0.1em 0.1em rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.3em 0.3em 0.1em 0.1em rgba(0, 0, 0, 0.75);
  box-shadow: 0.3em 0.3em 0.1em 0.1em rgba(0, 0, 0, 0.75);
}

div#products-container > div.selected {
  -webkit-box-shadow: 0.1em 0.1em rgba(32, 20, 86, 0.75);
  -moz-box-shadow: 0.1em 0.1em rgba(32, 20, 86, 0.75);
  box-shadow: 0.1em 0.1em rgba(32, 20, 86, 0.75);
  background-color: #ffffff;
  position: relative;
top: 0.3em;
}